$font-stack: 'Source Code Pro', monospace;
$shadow-style: 0 0 8px #181a21;
$content-shadow-style: 0 2px 8px #9c9c9c;

$primary-color: #9961c2;
$background-color: #252934;
$secondary-color: #566077;

$button-transition-time: 0.2s;