@use 'base';

.bannerBackground {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}  

.bannerContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 100vw;
    height: 100vmin;
}

.banner img {
    width: 4vw;
    position: absolute;
    left: 48vw;
    top: 77vmin;
    filter: invert(1) drop-shadow(base.$shadow-style);
    opacity: 0;
    transition: opacity base.$button-transition-time, transform base.$button-transition-time;
    transition-timing-function: ease-in, ease-in;
}

.banner img.on {
    opacity: 1;
    transform: translateY(-5vmin);
    transition-timing-function: ease-out, ease-out;
}

.banner button {
    font-family: base.$font-stack;
    font-size: 3.5vmin;
    font-weight: 700;
    border-radius: 0;
    padding: 1vh 2vw;
    color: white;
    border: solid 3px white;
    background-color: transparent;
    box-shadow: base.$shadow-style;
    text-shadow: base.$shadow-style;
    transition: border-color base.$button-transition-time, 
                background-color base.$button-transition-time,
                text-shadow base.$button-transition-time;
}

.banner button:hover {
    border-color: base.$primary-color;
    background-color: base.$primary-color;
    text-shadow: none;
}

.banner button:focus {
    outline:0;
}

.banner h1 {
    color: white;
    font-family: base.$font-stack;
    font-size: 5vmin;
    text-align: center;
    text-shadow: base.$shadow-style;
    margin: 0;
    margin-bottom: 6.5vmin;
}

.banner span {
    background-color: base.$primary-color;
    color: white;
    text-shadow: none;
    box-shadow: base.$shadow-style;
    font-weight: 700;
}